/* Nav Bar Styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: rgb(199, 143, 172);
}


/* Common Across All(ish) Pages */
body {
    background-color: #FFD7E2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    margin: -20px 50px;
}

.main h2 {
    font-size: 30px;
}

.main h3 {
    font-size: 25px;
}

img {
    border: 3px;
    border-radius: 10px;
}

button {
    font-size: 15px;
    float: right;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(199, 143, 172);
    color: white;
    border-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    cursor: pointer;
}


/* Landing page */
.name {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: lighter;
    font-size: 65px;
    color: black;
    text-align: center;
}

.about {
    font-size: 24px;
    text-decoration: #c087ad wavy underline;
}

.landing-txt {
    font-size: 20px;
    margin: -10px 0px;
    padding-bottom: 10px;
    max-width: 700px;
}

.landing-img {
    float: right;
    max-width: 400px;
}


/* Portfolio Page */
.project-title {
    text-align: center;
}

.project1 {
    text-align: center;
}

.project2 {
    text-align: center;
}

.project-txt {
    font-size: 20px;
    margin: auto auto;
    padding-right: 15px;
    padding-bottom: 30px;
}

.project-txt2 {
    font-size: 20px;
    margin: auto auto;
    padding-right: 15px;
    padding-bottom: 30px;
}

.project-img {
    float: right;
    margin: 50px 10px;
    max-width: 500px;
    max-height: 275px;
}

.project-img2 {
    float: right;
    margin: 70px 10px;
    max-width: 500px;
    max-height: 275px;
}


/* Qualifications Page */
.resume {
    text-align: center;
}

.technical-skills {
    font-size: 24px;
    text-decoration: #c087ad wavy underline;
}

.areas-of-interest {
    font-size: 24px;
    text-decoration: #c087ad wavy underline;
    margin-top: 50px;
}

.qualifications1-txt {
    float: right;
    margin: -20px 21px;
    max-width: 400px;
    font-size: 20px;
}

.qualifications2-txt {
    float: right;
    margin: -20px 21px;
    max-width: 400px;
    font-size: 20px;
}

.pdf {
    float: left;
}


/* Service Page */
.service-txt {
    float: none;
    max-width: 800px;
    margin: -10px 50px;
    font-size: 20px;
}

.service-img {
    float: right;
    margin-left: 27px;
    margin-top: 15px;
}

.service-img-2 {
    float: left;
    margin-right: 27px;
    margin-top: 15px;
}
