/* Nav Bar Styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #440f0f;
}
  
li {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #aeaeae;
}
  
.active {
    text-decoration: underline;
}


/* Common Across All(ish) Pages */
body {
    background-color: #e6e6e6;
    font-family: Georgia, serif;
    /* display: flex; */
    justify-content: center;              
    align-items: center;          
}

.main {
    margin: -20px 50px;
}

.main h2 {
    font-size: 30px;
}

.main h3 {
    font-size: 25px;
}

img {
    border: 30px;
    border-radius: 50px;
}

button {
    font-size: 15px;
    float: right;
    padding: 5px;
    margin-top: 10px;
    background-color: white;
    color: #440f0f;
    border-color: #440f0f;
    font-family: Georgia, serif;
}

button:hover {
    cursor: pointer;
}


/* Landing page */
.name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: #440f0f;
    padding-left: 250px;
    margin-top: 50px;
}

.about {
    float: none;
    font-size: 24px;
    text-align: center;
    text-decoration: black underline;
    margin-top: -70px;
}

.landing-txt {
    float: inline-end;
    font-size: 20px;
    margin: -10px 100px;
    padding-bottom: 10px;
    max-width: 1100px;
}

.landing-img {
    float:none;
    max-width: 150px;
    margin: -150px 20px 10px 760px;
    shape-outside: circle(100%);
    clip-path: circle(30%);
}


/* Portfolio Page */
.project-title {
    text-align: center;
}

.project1 {
    float: left;
    margin-left: -400px;
}

.project2 {
    float: none;
    margin-top: -335px;
    margin-left: 700px;
}

.project-txt {
    float: left;
    font-size: 20px;
    margin-top: 375px;
    margin-left: -500px;
    max-width: 450px;

}

.project-txt2 {
    float: none;
    font-size: 20px;
    margin-top: 340px;
    margin-left: 585px;
    padding-bottom: 20px;
    max-width: 450px;
}

.project-img {
    float: left;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 400px;
    max-height: 275px;
}

.project-img2 {
    float: none;
    margin-top: 50px;
    margin-left: 50px;
    max-width: 400px;
    max-height: 275px;
}


/* Qualifications Page */
.resume {
    text-align: center;
}

.technical-skills {
    float: left;
    font-size: 24px;
    text-decoration: black underline;
    text-align: center;
    margin-top: -80px;
    margin-left: 50px;
}

.areas-of-interest {
    float: right;
    font-size: 24px;
    text-decoration: black underline;
    text-align: center;
    margin-top: -85px;
    margin-right: 125px;
}

.qualifications1-txt {
    float: left;
    font-size: 20px;
    max-width: 275px;
    margin-top: 80px;
    margin-left: 25px;
    padding-top: 10px;
}

.qualifications2-txt {
    float: right;
    font-size: 20px;
    max-width: 325px;
    margin-top: 100px;
    margin-right: 45px;
    
}

.pdf {
    float: none;
    margin-left: 35px;
    max-width: 500px;
}


/* Service Page */
.service-txt {
    float: none;
    max-width: 800px;
    margin: -10px 50px;
    font-size: 20px;
}

.service-img {
    float: right;
    margin-left: 27px;
    margin-top: 15px;
}

.service-img-2 {
    float: left;
    margin-right: 27px;
    margin-top: 15px;
}
